{% extends "base/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Casa de los Patriots and Ravens {% endblock title %}</title>
    <link rel="stylesheet" href="css.css">

    
</head>

<body>
    
    {% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <center>
            <h1><a href="https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-01/nfl-logo-080521-getty-ftr_1l4ashi1tahe91uiujfrmf291p.jpg?itok=Ha0_Od9O"></H1>
            <br>
            <br>
            
        </center>
        
    {% endblock content %}
</body>
</html>