{% extends "base/base.html" %}

{% block title %}
Añadir equipo de futbol
{% endblock title %}

{% block content %}
<form action="" method="post" class="form">
  {% csrf_token %}
  {{ form.as_p }}
  <br>
  <button type="submit" class="btn btn-outline-success">Añadir Equipo</button>
  <a href="{% url 'core:listT' %}" class="btn btn-outline-warning">Cancelar</a>
</form>

{% endblock content %}
