{% extends "base/base.html" %}

{% block title %}
  Eliminar estadio
{% endblock title %}

{% block content %}
<br>
<p>¿Desea eliminar el estadio {{ object.nombre }}?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">Yes, Continuar</button>
  <a href="{% url 'core:listS' %}" class="btn btn-outline-warning">Cancelar</a>
</form>


{% endblock content %}
