{% extends "base/base.html" %}

{% block title %}
  Eliminar Propietarios
{% endblock title %}

{% block content %}
<p>¿Desea eliminar el Propietario {{ object.nombre }}?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">Continuar</button>
  <a href="{% url 'core:listO' %}" class="btn btn-outline-warning">Cancelar</a>
</form>
{% endblock content %}