{% extends "base/base.html" %}

{% block title %}
  Detalles del jugador
{% endblock title %}


{% block content %}
<h1>Detalles del jugador</h1>
      <p>Numero: {{ players.numero }}</p>
      <p>Nombre: {{ players.nombreC }}</p>
      <p>Posicion: {{ players.posicion }}</p>
      <p>Equipo: {{ players.equipo.nombre }}</p>
  <a href="{% url 'core:listP' %}" class="btn btn-outline-warning">Regresar</a>
{% endblock content %}