{% extends "base/base.html" %}

{% block title %}
  Detalles del propietario
{% endblock title %}


{% block content %}
<h1>Detalles del propietario</h1>
      <p>Numero: {{ owner.numero }}</p>
      <p>Nombre: {{ owner.nombre }}</p>
  <a href="{% url 'core:listO' %}" class="btn btn-outline-warning">Regresar</a>
{% endblock content %}