{% extends "base/base.html" %}

{% block title %}
  Detalles del equipo
{% endblock title %}

{% block content %}
  <h1>Detalles del equipo</h1>

    <p>Numero: {{ teams.codigo }}</p>
    <p>Nombre: {{ teams.nombre }}</p>
    <p>Sede: {{ teams.sede }}</p>
    <p>Propietario: {{ teams.propietario.nombre }}</p>
  
  <a href="{% url 'core:listT' %}" class="btn btn-outline-warning">Regresar</a>
{% endblock content %}
