{% extends 'base/base.html' %}

{% block title %} Lista de estadios {% endblock title %}

{% block content %}

    <br>
    <a href="{% url 'core:createS' %}" class="btn btn-outline-success form-control">Agregar un nuevo estadio</a>
    <br>
    <h1>Listado de estadios</h1>
    <table class="table table-striped table-hover">
        <thead>
            <th>Codigo del estadio</th>
            <th>Nombre del estadio</th>
            <th>Capacidad del estadio</th>
            <th></th>

        </thead>
        <tbody>
            {% for stadium in Stadiums %}
                <tr>
                    <td>{{ stadium.codigo }}</td>
                    <td>{{ stadium.nombre }}</td>
                    <td>{{ stadium.capacidad }}</td>
                    <td><a href="{% url 'core:detailS' stadium.pk %}" class="btn btn-outline-info">Detalles</a></td>
                    <td><a href="{% url 'core:UpdateS' stadium.pk %}" class="btn btn-outline-warning">Actualizar</a></td>
                    <td><a href="{% url 'core:deleteS' stadium.pk %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
   
{% endblock content %}


