{% extends 'base/base.html' %}

{% block title %} Lista de equipos {% endblock title %}

{% block content %}

    <br>
    <a href="{% url 'core:createT' %}" class="btn btn-outline-success form-control">Añadir nuevo equipo</a>
    <br>
    <h1>Lista de equipos</h1>
<table class="table">
  <thead>
    <tr>
      <th>Numero</th>
      <th>Nombre del equipo</th>
      <th>Sede(Ubicacion)</th>
    </tr>
  </thead>
  <tbody>
    {% for team in Teams %}
      <tr>
        <td>{{ team.codigo }}</td>
        <td>{{ team.nombre }}</td>
        <td>{{ team.sede }}</td>
        <td>
          <a href="{% url 'core:detailT' team.codigo %}" class="btn btn-outline-info">Detalles</a>
          <a href="{% url 'core:UpdateT' team.codigo %}" class="btn btn-outline-warning">Actualizar</a>
          <a href="{% url 'core:deleteT' team.codigo %}" class="btn btn-outline-danger">Eliminar</a>
      </td>
      
      </tr>
    {% endfor %}
  </tbody>
</table>

    
{% endblock content %}

