{% extends 'base/base.html' %}

{% block title %} Lista de Jugadores {% endblock title %}

{% block content %}

    <br>
    <a href="{% url 'core:createP' %}" class="btn btn-outline-success form-control">Añadir nuevo jugador</a>
    <br>
    <h1>Listado de jugadores</h1>
    <table class="table table-striped table-hover">
        <thead>
            <th>Numero</th>
            <th>Nombre Completo</th>
            <th>Posicion</th>

        </thead>
        <tbody>
            {% for player in Players %}
                <tr>
                    <td>{{ player.numero }}</td>
                    <td>{{ player.nombreC }}</td>
                    <td>{{ player.posicion }}</td>
                    <td><a href="{% url 'core:detailP' player.numero %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:UpdateP' player.numero %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:deleteP' player.numero %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}
