{% extends 'base/base.html' %}

{% block title %} Lista de Propietarios {% endblock title %}

{% block content %}

    <br>
    <a href="{% url 'core:createO' %}" class="btn btn-outline-success form-control">Añadir nuevo propietario</a>
    <br>
    <h1>Listado de propietarios</h1>
    <table class="table table-striped table-hover">
        <thead>
            <th>Numero</th>
            <th>Nombre Completo</th>
        </thead>
        <tbody>
            {% for Owner in Owners %}
                <tr>
                    <td>{{ Owner.numero }}</td>
                    <td>{{ Owner.nombre }}</td>
                    <td><a href="{% url 'core:detailO' Owner.pk %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:UpdateO' Owner.pk %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:deleteO' Owner.pk %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}
