{% extends 'base/base.html' %}

{% block title %} Lista de Equipos y Jugadores {% endblock title %}

{% block content %}

    <br>
    <br>
    <h1>Listado de Equipos y jugadores</h1>
    <table class="table table-striped table-hover">
        <thead>
            <th>Numero</th>
            <th>Nombre Completo</th>
            <th>Posicion</th>
            <th>Equipo</th>

        </thead>
        <tbody>
            {% for player in Players %}
                <tr>
                    <td>{{ player.numero }}</td>
                    <td>{{ player.nombreC }}</td>
                    <td>{{ player.posicion }}</td>
                    <td>{{ player.equipo.nombre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}