{% extends "base/base.html" %}

{% block title %}
  Actualizar Jugadores
{% endblock title %}

{% block content %}
<h1>Actualizar Jugador</h1>
<form method="post" class="form">
  {% csrf_token %}
  {{ form.as_p }}
  <br>
  <button type="submit" class="btn btn-outline-primary">Actualizar Jugador</button>
  <a href="{% url 'core:listP' %}" class="btn btn-outline-warning">Cancelar</a>
</form>
{% endblock content %}